*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin:0;
}
body{
  background-image: url('http://afasiaarchzine.com/wp-content/uploads/2016/03/E2A-.-School-Building-Hofacker-.-Zurich-1.jpg');
  background-size:cover;
  
}
#topBar{
  height:10vh;
  background-color:rgb(2,31,84);
  color:#fff;
  padding:10px;
}
#dialogWindow {
    width: 50vw;
    height: 50vh;
    background: rgb(2,31,84);
    box-shadow: #000 0px 0px 10px;
    border-radius: 10px;
}
