*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#topBar{
  height:10vh;
  background-color:rgb(2,31,84);
  color:#fff;
  padding:10px;
  margin:0;
}
#dialogWindow {
    width: 50vw;
    height: 50vh;
    background: rgb(2,31,84);
    box-shadow: #000 0px 0px 10px;
    border-radius: 10px;
}
