*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin:0;
}
body{
  background-image: url('http://afasiaarchzine.com/wp-content/uploads/2016/03/E2A-.-School-Building-Hofacker-.-Zurich-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 99.99vh;
}
#topBar{
  height:10vh;
  background-color:rgb(2,31,84);
  color:#fff;
  padding:10px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
#contentBox{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height: 80vh;
}
#dialogWindow {
    background: rgb(2,31,84);
    box-shadow: #000 0px 0px 10px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    margin:2vh;
}
input, .button {
    text-decoration:none;
    border: none;
    border-radius:5px;
    margin:5px;
    padding:3px;
    box-shadow: #000 0px 0px 5px;
}
.button{
    transition: all 0.3s linear;
    background: #006ce5;
    color:#fff;
}
.buttonColumn{
  margin:5px 0px 5px 0px;
}
input[type="submit"]:active, .button:active{
   background: #fff;
   transition: all 0.5s linear;
}
h1{
  font-size:5vh;
}
th
{
    background: rgb(168, 198, 250);
    padding: 5px;
}
td
{
    padding: 2px 5px 2px 5px;
}
tr:nth-child(even)
{
     background: rgb(201, 241, 253);
}
tr:nth-child(odd) {
    background: #fff;
}
.centerFlexBox, .dateWrapper,.dateYearRow,.dateDayBox {
    align-content: center;
    justify-content: center;
    align-self: center;
    position: relative;
    display: flex;
}
.noselect,.dateYearRow,.dateDayBox{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dateYearRow{
  justify-content: space-between;
}
.dateWrapper{
  width:300px;
  height:300px;
  display:block;
}
.dateDayBox
{
  width:12.9%;
  height:15.4%;
  float:left;
  margin:1px;
  cursor:pointer;
  color:#000;
  background: rgb(201, 241, 253);
}
.datePickerDayBox:not(:empty):hover {
  background: #4b4;
  border-radius: 10px;
}

